books{color:white;background-color:violet;width:100%}

heading{
color:#87F279;
font-size:50px;
background-color:#A2EAFC;
}

heading,title,author,publisher,price{
display:block;
}

title{
font-size:25px;
font-weight:bold;
}
